<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Fashion MNIST Prediction Model</title>
    <link rel="stylesheet" href="../../public/css/sitestyle.css">
</head>

<body>
    <main class="container">
        <div class="row">
            <div>
                {{{body}}}
            </div>
        </div>
    </main>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="../../public/js/home.js"></script>
</body>
</html>